# Copy to .env to run the app locally with docker-compose.local.yaml
# to quickly build postgres container

### Quick Setup ###
#   ./setup-local.sh

### Cleanup ###
# Disable postgres container and prune db volume
#   docker compose -f docker-compose.local.yaml down -v
#   rm -R ./logs

LOG_DIR="./logs"
# Unused while the secrets below are set - kept for later
# file fallback testing
SECRET_DIR="./secrets"

BOOTSTRAP_ADMIN_USERNAME="master_admin"
BOOTSTRAP_ADMIN_EMAIL="admin@example.com"

POSTGRES_USER="event-booking"
POSTGRES_DB="event-booking"
POSTGRES_HOST="localhost"

# Secrets - local api run only, docker-compose(main) don't use them
BOOTSTRAP_ADMIN_PASSWORD="admin"
POSTGRES_PASSWORD="event-booking"
SECRET_KEY="6b0e41daa2bf4aace8b72acb00c9088dbdc15011102c9ae5614e32b5806dd4e1"
