POSTGRES_USER="event-booking"
POSTGRES_PASSWORD="event-booking"
POSTGRES_DB="event-booking"
POSTGRES_HOST="postgres" # Auto docker compose --network-alias

SECRET_KEY="0fc42909d5f36a35a876346cf8258cf5"
