BOOTSTRAP_ADMIN_USERNAME="master_admin"
BOOTSTRAP_ADMIN_EMAIL="admin@example.com"

POSTGRES_USER="event-booking"
POSTGRES_DB="event-booking"
POSTGRES_HOST="postgres" # Auto docker compose --network-alias

# Secrets - local only, compose don't use them
BOOTSTRAP_ADMIN_PASSWORD="admin"
POSTGRES_PASSWORD="event-booking"
SECRET_KEY="6b0e41daa2bf4aace8b72acb00c9088dbdc15011102c9ae5614e32b5806dd4e1"
